.con1{
  background-color: whitesmoke;
  width: 87%;
  height: 85vh;
  border-radius: 10px;
  margin-top: 100px;
}
.prenxt{
  float: right;
  margin-right: 20px;
}
.borderPagina3{
    border: 1px solid;
}
.mainCard{
   margin-top: 20px;
}
.userIcon{
     margin-right: 10px;
}
.contactBg{
  background-image: url(../Images/newPage1.png.PNG);
  height: 100vh;
  width: 101%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-icons {
  display: none; 
  /* background-color: #ccc; */

}

.card:hover .card-icons {
  display: block;
  position: absolute;
  top: 50%;
  left: 25%;
}
